In [18]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df = pd.read_csv('Files/Play_by_Play_New.csv')
print(df.head())

    Game_id  Season Season_Type  Game_No  Playoff_Rd  Playoff_Rd_Game_No  \
0  20700001    2007     Regular        1           0                   0
1  20700001    2007     Regular        1           0                   0
2  20700001    2007     Regular        1           0                   0
3  20700001    2007     Regular        1           0                   0
4  20700001    2007     Regular        1           0                   0

         Date  Home_Team_id Home_Tm  Visitor_Team_id    ...    Player1  \
0  10/30/2007    1610612759     SAS       1610612757    ...      714.0
1  10/30/2007    1610612759     SAS       1610612757    ...      714.0
2  10/30/2007    1610612759     SAS       1610612757    ...      714.0
3  10/30/2007    1610612759     SAS       1610612757    ...      714.0
4  10/30/2007    1610612759     SAS       1610612757    ...      714.0

   Player2  Player3  Player4  Player5   Player6   Player7   Player8   Player9  \
0   1477.0   1495.0   2038.0   2225.0  101110.0  101127.0  101177.0  200746.0
1   1477.0   1495.0   2038.0   2225.0  101110.0  101127.0  101177.0  200746.0
2   1477.0   1495.0   2038.0   2225.0  101110.0  101127.0  101177.0  200746.0
3   1477.0   1495.0   2038.0   2225.0  101110.0  101127.0  101177.0  200746.0
4   1477.0   1495.0   2038.0   2225.0  101110.0  101127.0  101177.0  200746.0

   Player10
0  200750.0
1  200750.0
2  200750.0
3  200750.0
4  200750.0

[5 rows x 40 columns]

In [4]:
print(df.columns)

Index(['Game_id', 'Season', 'Season_Type', 'Game_No', 'Playoff_Rd',
       'Playoff_Rd_Game_No', 'Date', 'Home_Team_id', 'Home_Tm',
       'Visitor_Team_id', 'Away_Tm', 'Period', 'Event_Num', 'Wall_Clock_Time',
       'Play_Clock_Time', 'Team_Committing_Action', 'Person1', 'Person2',
       'Person3', 'Home_PTS', 'Visitor_PTS', 'X_Location', 'Y_Location',
       'Description', 'Rebound_Designation', 'Shot_Value', 'Shot_Outcome',
       'Shot_Side_of_Ct', 'Shot_Distance', 'General_Description', 'Player1',
       'Player2', 'Player3', 'Player4', 'Player5', 'Player6', 'Player7',
       'Player8', 'Player9', 'Player10'],
      dtype='object')

In [17]:
print(df[['Shot_Value', 'Shot_Outcome', 'X_Location', 'Y_Location', 'General_Description']].head(n=10))

   Shot_Value  Shot_Outcome  X_Location  Y_Location  \
0           0           NaN           0           0
1           0           NaN           0           0
2           2           1.0         -84          13
3           2           1.0         -41          43
4           2           1.0         112         174
5           2           0.0         121         135
6           0           NaN           0           0
7           2           0.0          34         178
8           0           NaN           0           0
9           2           1.0         118         153

          General_Description
0                   Jump Ball
1        Violation: Jump Ball
2             Jump Shot: Made
3  Turnaround Bank Shot: Made
4             Jump Shot: Made
5           Jump Shot: Missed
6                     Rebound
7           Jump Shot: Missed
8                     Rebound
9             Jump Shot: Made

In [ ]:
sportvu = pickle.load( open( "SPORTVU/NBA_LG_FINAL_SEQUENCE_OPTICAL$2016102505_Q1.p", "rb" ) )
for x in range(5):
    print(sportvu[x])