In [18]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df = pd.read_csv('Files/Play_by_Play_New.csv')
print(df.head())

    Game_id  Season Season_Type  Game_No  Playoff_Rd  Playoff_Rd_Game_No  \
0  20700001    2007     Regular        1           0                   0
1  20700001    2007     Regular        1           0                   0
2  20700001    2007     Regular        1           0                   0
3  20700001    2007     Regular        1           0                   0
4  20700001    2007     Regular        1           0                   0

         Date  Home_Team_id Home_Tm  Visitor_Team_id    ...    Player1  \
0  10/30/2007    1610612759     SAS       1610612757    ...      714.0
1  10/30/2007    1610612759     SAS       1610612757    ...      714.0
2  10/30/2007    1610612759     SAS       1610612757    ...      714.0
3  10/30/2007    1610612759     SAS       1610612757    ...      714.0
4  10/30/2007    1610612759     SAS       1610612757    ...      714.0

   Player2  Player3  Player4  Player5   Player6   Player7   Player8   Player9  \
0   1477.0   1495.0   2038.0   2225.0  101110.0  101127.0  101177.0  200746.0
1   1477.0   1495.0   2038.0   2225.0  101110.0  101127.0  101177.0  200746.0
2   1477.0   1495.0   2038.0   2225.0  101110.0  101127.0  101177.0  200746.0
3   1477.0   1495.0   2038.0   2225.0  101110.0  101127.0  101177.0  200746.0
4   1477.0   1495.0   2038.0   2225.0  101110.0  101127.0  101177.0  200746.0

   Player10
0  200750.0
1  200750.0
2  200750.0
3  200750.0
4  200750.0

[5 rows x 40 columns]

In [4]:
print(df.columns)

Index(['Game_id', 'Season', 'Season_Type', 'Game_No', 'Playoff_Rd',
       'Playoff_Rd_Game_No', 'Date', 'Home_Team_id', 'Home_Tm',
       'Visitor_Team_id', 'Away_Tm', 'Period', 'Event_Num', 'Wall_Clock_Time',
       'Play_Clock_Time', 'Team_Committing_Action', 'Person1', 'Person2',
       'Person3', 'Home_PTS', 'Visitor_PTS', 'X_Location', 'Y_Location',
       'Description', 'Rebound_Designation', 'Shot_Value', 'Shot_Outcome',
       'Shot_Side_of_Ct', 'Shot_Distance', 'General_Description', 'Player1',
       'Player2', 'Player3', 'Player4', 'Player5', 'Player6', 'Player7',
       'Player8', 'Player9', 'Player10'],
      dtype='object')

In [20]:
print(df[['Shot_Value', 'Shot_Outcome', 'X_Location', 'Y_Location', 'General_Description']].head(n=50))

    Shot_Value  Shot_Outcome  X_Location  Y_Location  \
0            0           NaN           0           0
1            0           NaN           0           0
2            2           1.0         -84          13
3            2           1.0         -41          43
4            2           1.0         112         174
5            2           0.0         121         135
6            0           NaN           0           0
7            2           0.0          34         178
8            0           NaN           0           0
9            2           1.0         118         153
10           3           0.0        -228          -3
11           0           NaN           0           0
12           0           NaN           0           0
13           2           0.0         -43          36
14           0           NaN           0           0
15           2           1.0           0           0
16           2           0.0        -113          82
17           0           NaN           0           0
18           2           0.0          20          12
19           0           NaN           0           0
20           0           NaN           0           0
21           1           NaN           0           0
22           1           NaN           0           0
23           0           NaN           0           0
24           2           1.0         -89          20
25           0           NaN           0           0
26           1           NaN           0           0
27           1           NaN           0           0
28           2           0.0          79         181
29           0           NaN           0           0
30           2           0.0          69          18
31           0           NaN           0           0
32           2           1.0         -39          15
33           2           0.0         -38          61
34           0           NaN           0           0
35           2           0.0        -166          12
36           0           NaN           0           0
37           2           0.0         117          35
38           0           NaN           0           0
39           2           1.0        -103          41
40           2           1.0         140         174
41           0           NaN           0           0
42           0           NaN           0           0
43           0           NaN           0           0
44           0           NaN           0           0
45           0           NaN           0           0
46           2           0.0          -6         114
47           0           NaN           0           0
48           0           NaN           0           0
49           2           1.0           0          12

                General_Description
0                         Jump Ball
1              Violation: Jump Ball
2                   Jump Shot: Made
3        Turnaround Bank Shot: Made
4                   Jump Shot: Made
5                 Jump Shot: Missed
6                           Rebound
7                 Jump Shot: Missed
8                           Rebound
9                   Jump Shot: Made
10                Jump Shot: Missed
11                          Rebound
12                 Foul: Loose Ball
13                Jump Shot: Missed
14                          Rebound
15                  Dunk Shot: Made
16                Jump Shot: Missed
17                          Rebound
18               Layup Shot: Missed
19                          Rebound
20                   Foul: Shooting
21                Free Throw 1 of 2
22                Free Throw 2 of 2
23                   Foul: Personal
24         Floating Jump Shot: Made
25                   Foul: Shooting
26                Free Throw 1 of 2
27                Free Throw 2 of 2
28                Jump Shot: Missed
29                          Rebound
30           Jump Bank Hook: Missed
31                          Rebound
32               Running Jump: Made
33                Jump Shot: Missed
34                          Rebound
35                Jump Shot: Missed
36                          Rebound
37                Jump Shot: Missed
38                          Rebound
39       Turnaround Hook Shot: Made
40                  Jump Shot: Made
41  Turnover: Stepped out of Bounds
42                 Timeout: Regular
43                     Substitution
44                     Substitution
45                     Substitution
46                Jump Shot: Missed
47                          Rebound
48               Turnover: Bad Pass
49                 Layup Shot: Made

In [30]:
sportvu = pickle.load( open( "SPORTVU PY/NBA_LG_FINAL_SEQUENCE_OPTICAL$2016102509_Q1.p", "rb" ) )
for x in range(5):
    print(sportvu[x])

{'game-clock': '720.00', 'time': '1477449088333', 'game-event-id': '', 'shot-clock': '24.00', 'locations': '-1,-1,49.22237,28.43259,6.90133;9,214168,45.01293,27.59495,0;9,329525,47.94213,29.45593,0;9,338365,25.28042,24.00548,0;9,457611,44.15785,15.38368,0;9,468895,36.74109,24.85659,0;24,3494,48.59617,23.4417,0;24,3508,68.45682,23.64163,0;24,266554,69.83699,24.59199,0;24,512591,45.01293,27.59495,0;24,697720,49.09623,14.94346,0'}
{'game-clock': '720.00', 'time': '1477449088372', 'game-event-id': '', 'shot-clock': '24.00', 'locations': '-1,-1,49.28863,28.38515,6.87249;9,214168,45.05801,27.60062,0;9,329525,47.96406,29.45769,0;9,338365,25.28433,24.00349,0;9,457611,44.16071,15.3753,0;9,468895,36.73495,24.84038,0;24,3494,48.61476,23.45661,0;24,3508,68.4531,23.64026,0;24,266554,69.82975,24.58496,0;24,512591,45.05801,27.60062,0;24,697720,49.22436,14.94833,0'}
{'game-clock': '720.00', 'time': '1477449088413', 'game-event-id': '', 'shot-clock': '24.00', 'locations': '-1,-1,49.28515,28.17953,6.73806;9,214168,45.07892,27.64475,0;9,329525,47.99448,29.4567,0;9,338365,25.29,24.00267,0;9,457611,44.14729,15.38424,0;9,468895,36.72542,24.81608,0;24,3494,48.63128,23.47063,0;24,3508,68.46329,23.65285,0;24,266554,69.83769,24.58949,0;24,512591,45.07892,27.64475,0;24,697720,49.32354,14.89154,0'}
{'game-clock': '720.00', 'time': '1477449088453', 'game-event-id': '', 'shot-clock': '24.00', 'locations': '-1,-1,49.32108,28.33474,6.77315;9,214168,45.09464,27.72159,0;9,329525,48.02597,29.45019,0;9,338365,25.29845,24.00378,0;9,457611,44.11711,15.39956,0;9,468895,36.7203,24.85277,0;24,3494,48.65966,23.49154,0;24,3508,68.47755,23.65362,0;24,266554,69.83752,24.58831,0;24,512591,45.09464,27.72159,0;24,697720,49.43734,14.85423,0'}
{'game-clock': '720.00', 'time': '1477449088493', 'game-event-id': '', 'shot-clock': '24.00', 'locations': '-1,-1,49.35598,28.2469,6.84385;9,214168,45.0979,27.78177,0;9,329525,48.05699,29.44186,0;9,338365,25.3066,24.00469,0;9,457611,44.13765,15.46038,0;9,468895,36.71408,24.88435,0;24,3494,48.66053,23.49181,0;24,3508,68.45482,23.64357,0;24,266554,69.82643,24.57891,0;24,512591,45.0979,27.78177,0;24,697720,49.56255,14.8421,0'}

In [31]:
locations = "'locations': '-1,-1,49.35598,28.2469,6.84385;9,214168,45.0979,27.78177,0;9,329525,48.05699,29.44186,0;9,338365,25.3066,24.00469,0;9,457611,44.13765,15.46038,0;9,468895,36.71408,24.88435,0;24,3494,48.66053,23.49181,0;24,3508,68.45482,23.64357,0;24,266554,69.82643,24.57891,0;24,512591,45.0979,27.78177,0;24,697720,49.56255,14.8421,0'"
arr = locations.split(';')
for x in arr:
    print(x)
print(len(arr))

'locations': '-1,-1,49.35598,28.2469,6.84385
9,214168,45.0979,27.78177,0
9,329525,48.05699,29.44186,0
9,338365,25.3066,24.00469,0
9,457611,44.13765,15.46038,0
9,468895,36.71408,24.88435,0
24,3494,48.66053,23.49181,0
24,3508,68.45482,23.64357,0
24,266554,69.82643,24.57891,0
24,512591,45.0979,27.78177,0
24,697720,49.56255,14.8421,0'
11